name: Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "30 2 * * *"   # 8am IST (converted to UTC)
    - cron: "0 14 * * *"   # 7:30pm IST (converted to UTC)
    - cron: "0 6 * * 1-5"  # 11:30am IST Monday to Friday (converted to UTC)

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install newman globally
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run the postman collection with newman
        run: |
          newman run "Inwarrenty flow.postman_collection.json" \
            -e QA.postman_environment.json \
            -d testdata.csv \
            -r cli,htmlextra

      - name: Upload a Build Artifact
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
            name: newman-html-report
            path: newman/*.html
